# CONFIGURACIÓN SAAS ORM CRISTALES
PORT=4000
SECRET_KEY=Chicago*30
# Cambia /saascristales al final para crear una base de datos nueva
MONGO_URI_SAAS=mongodb+srv://orangelmoscott:Chicago*30@cristales.lxfyx.mongodb.net/?appName=saascristales
# SMTP para facturas del SaaS
EMAIL_USER=tu-email@gmail.com
EMAIL_PASS=tu-google-app-password
